<form action="{{ url(url_del, {id: entity.id}) }}" method="post" data-confirmation="true" id="delete-form">
    <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
    <button type="submit" class="btn btn-danger" style="margin-top:10px">
        {{ button_del }}
    </button>
</form>
