<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">
                    {{ _modal_del_tittle }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ _modal_del_body }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnNo" data-dismiss="modal">
                    {{ 'button.cancel'|trans }}
                </button>
                <button type="button" class="btn btn-primary" id="btnYes" data-dismiss="modal">
                    {{ _button_del }}
                </button>
            </div>
        </div>
    </div>
</div>