{% if app.user%}
<p>{{ app.user.username }} tu as bien connécté en tant qu'un utilisateur</p>
{% endif%}

{% if app.user.hasRole('ROLE_ADMIN')%}
<div>{{ app.user.username }} tu es un admin, tous les utilsateurs ont accées a cette page</div>
{% endif%}