{% extends 'main.html.twig '%}
{% block body %}

    <h1><center>Contact Us</center></h1>
<div clas="col-md-12">

    {{ form_start(form) }}
    <div class="form-group">
        <label>Name : </label>
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
    </div>
    <div class="form-group">
        <label>Subject : </label>
        {{ form_widget(form.subject) }}
        {{ form_errors(form.subject) }}
    </div>
    
    <div class="form-group">
        <label>Email :</label>
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}
    </div>
    <div class="form-group">
        <label>Message : </label>
        {{ form_widget(form.message) }}
        {{ form_errors(form.message) }}
    </div>

    {# Render CSRF token etc .#}
    <div style="display:none">
        {{ form_rest(form) }}
    </div>
    
    <button type="submit" class="btn  btn-primary">Send Mail</button>
    
{{ form_end(form) }}

</div>
{% endblock body %}
{% block javascript %}
<script>

function initAjaxForm()
{

    $('body').on('submit', '.ajaxForm', function (e) {
 
        e.preventDefault();
 
        $.ajax({
            type: $(this).attr('method'),
            url: $(this).attr('action'),
            data: $(this).serialize()
        })
        .done(function (data) {
            if (typeof data.message !== 'undefined') {
                alert(data.message);
            }
        })
        .fail(function (jqXHR, textStatus, errorThrown) {
            if (typeof jqXHR.responseJSON !== 'undefined') {
                if (jqXHR.responseJSON.hasOwnProperty('form')) {
                    $('#form_body').html(jqXHR.responseJSON.form);
                }
 
                $('.form_error').html(jqXHR.responseJSON.message);
 
            } else {
                alert(errorThrown);
            }
 
        });
    });
}
<script>
{%endblock javascript}