<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Movies{% endblock %}</title>
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
                function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!-- //for-mobile-apps -->
        <link href= "{{asset('public/css/bootstrap.css')}}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{asset('public/css/style.css')}}" rel="stylesheet" type="text/css" media="all" />
        <link rel="stylesheet" href="{{asset('public/css/contactstyle.css')}}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{asset('public/css/faqstyle.css')}}" type="text/css" media="all" />
        <link href="{{asset('public/css/single.css')}}" rel='stylesheet' type='text/css' />
        <link href="{{asset('public/css/medile.css')}}" rel='stylesheet' type='text/css' />
        <!-- banner-slider -->
        <link href="{{asset('public/css/jquery.slidey.min.css')}}" rel="stylesheet">
        <!-- //banner-slider -->
        <!-- pop-up -->
        <link href="{{asset('public/css/popuo-box.css')}}" rel="stylesheet" type="text/css" media="all" />
        <!-- //pop-up -->
        <!-- font-awesome icons -->
        <link rel="stylesheet" href="{{asset('public/css/font-awesome.min.css')}}" />
        <!-- //font-awesome icons -->
        <!-- js -->
        
        <!-- //banner-bottom-plugin -->
        <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
        <!-- start-smoth-scrolling -->
       

    </head>
    <body>

        <div class="header">
                <div class="container">
                    <div class="w3layouts_logo">
                        <a href="/"><h1>One<span>Movies</span></h1></a>
                    </div>
                    <div class="w3_search" style="margin-left:4em !important">
                        <form action="#" method="post">
                            <input type="text" name="Search" placeholder="Search" required="">
                            <input type="submit" value="Go">
                        </form>
                    </div>
                    <div class="w3l_sign_in_register" style="width:35% !important">
                        <ul>
                            <li><i class="fa fa-phone" aria-hidden="true"></i>(+216) 53969884 </li>
                {% if is_granted('ROLE_USER') %}
                    <li class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Hello {{app.user.username}}
                        </button>
                        <ul class="dropdown-menu">
                            <a href="{{path('user_edit',{'id': app.user.id})}}" style="color: black !important;
                            text-transform: lowercase !important;background: none !important;font-weight: inherit !important;"> Profile</a>
                            <a href="/logout" style="color: black !important;text-transform: lowercase !important;background: none !important;font-weight: inherit !important;">Logout</a>
                        </ul>
                    </li>
                {% else %}
                    
                    <a class="btn btn-primary" href="/login">Login</a>
                    <a class="btn btn-primary" href="/register">Register</a>
                    </ul>
                {% endif %}      
                                
                    
                    <div class="clearfix"> </div>
                </div>
            </div>
    
<div class="movies_nav">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header navbar-left">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                        <nav>
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="/">Home</a></li>
                                <li><a href="{{path('user_film_create')}}">Create Film</a></li>
                                <li><a href="{{path('user_film_index')}}">All Films</a></li>              
                            </ul>
                        </nav>
                    </div>
                    {% else %}
                          <nav>
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="{{path('homepage')}}">Home</a></li>
                                <li><a href="{{path('AboutUs')}}">About Us</a></li>
                                <li><a href="/contact">Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>
                {% endif %}
            </nav>  
        </div>
    </div>

<!-- banner -->
  {% block slidey%} {% endblock %}
<!-- //banner -->
<!-- banner-bottom -->
   {% block banner %}{% endblock %}
<!-- //banner-bottom -->
<!-- Latest-tv-series -->
    {% block general %} {% endblock %}

        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
                <script type="text/javascript" src="{{asset('public/js/jquery-2.1.4.min.js')}}"></script>
        <script src="{{asset('public/js/bootstrap.min.js')}}"></script>
        <script src="{{asset('public/js/jquery.slidey.js')}}"></script>
        <script src="{{asset('public/js/jquery.dotdotdot.min.js')}}"></script>
         <script type="text/javascript" src="{{asset('public/js/move-top.js')}}"></script>
        <script type="text/javascript" src="{{asset('public/js/easing.js')}}"></script>
        <link href="{{asset('public/css/owl.carousel.css')}}" rel="stylesheet" type="text/css" media="all">
        <script src="{{asset('public/js/owl.carousel.js')}}"></script>
        <script type="text/javascript">
            jQuery(document).ready(function($) {
                $(".scroll").click(function(event){     
                    event.preventDefault();
                    $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
                });
            });
        </script>
        
        <script>
            $(document).ready(function() { 
                $("#owl-demo").owlCarousel({
             
                  autoPlay: 3000, //Set AutoPlay to 3 seconds
             
                  items : 5,
                  itemsDesktop : [640,4],
                  itemsDesktopSmall : [414,3]
             
                });
             
            }); 
        </script> 
           <script type="text/javascript">
                $("#slidey").slidey({
                    interval: 8000,
                    listCount: 5,
                    autoplay: false,
                    showList: true
                });
                $(".slidey-list-description").dotdotdot();
            </script>

    </body>
</html>