{% extends 'user/base.html.twig' %}

{% block body %}
    {{ include('user/_view.html.twig', {
        film: film,
        show_desc: true,
    }, with_context = false) }}
{% endblock %}

{% block sidebar %}

    <nav class="nav flex-column">
        <a class="btn btn-primary btn-lg" role="button" aria-pressed="true" href="{{ path('user_film_edit', {'id': film.id}) }}">
            {{ 'button.edit.film'|trans }}
        </a>
        <br>
        <a class="btn btn-info btn-lg" role="button" aria-pressed="true" href="{{ path('user_film_view', {'id': film.id}) }}">
            {{ 'button.view.film'|trans }}
        </a>
        <br>
        {{ include('form/_delete.html.twig', {
            url_del: 'user_film_delete',
            entity: film,
            button_del: 'button.delete.film'|trans,
            modal_del_tittle: 'modal.titre.del.film'|trans,
            modal_del_body: 'modal.genre.del'|trans
        }, with_context = false) }}
    </nav>
{% endblock %}