{% extends 'main.html.twig' %}

{% block body %}

    <h1><center>{{ 'Edit Profile'|trans({'%id%': user.id}) }}</center></h1>
    {{ include('user/film/_form.html.twig', {
        form: form,
        button_save_label: 'Save Changes'|trans,
        include_back_to_home_link: true,
    }, with_context = false) }}

     <a class="btn btn-primary" role="button" aria-pressed="true" href="#" style="margin-top:10px">
            {{ 'View User'|trans }}
        </a>
        <br>
        {% if pass_view is defined %}
            <a class="btn btn-warning" role="button" aria-pressed="true" href="{{ path('user_edit', {'id': user.id}) }}">
                {{ 'Edit User'|trans }}
            </a>  
        {%endif%} 
{% endblock %}


