{{ form_start(form) }}
{{ form_widget(form) }}

<button type="submit" class="{{ button_css|default("btn btn-primary") }}" style="margin-top:20px">
    <i class="fa fa-save" aria-hidden="true"></i> {{ button_save_label|default('Create Film'|trans) }}
</button>

{% if include_back_to_home_link|default(false) %}
    <a href="/user/film/user/films" class="btn btn-success" style="margin-top:20px">
        {{ 'Back To List'|trans }}
    </a>
{% endif %}

{{ form_end(form) }}