{% extends 'main.html.twig' %}

{% block body %}
    <h1><center> {{ 'Create New Film'|trans }}</center></h1>
    {{ include('user/film/_form.html.twig', {
        form: form,
        button_save_label: 'Create'|trans,
        include_back_to_home_link: true,
    }, with_context = false) }}
{% endblock %}

{% block sidebar %}
    sidebar
{% endblock %}