{% extends 'main.html.twig' %}

{% block body %}
    <h1><center>{{ 'Edit Film'|trans({'%id%': film.id}) }}</center></h1>
{#{ dump(film) }#}
    {{ include('user/film/_form.html.twig', {
        form: form,
        button_save_label: 'Save Changes'|trans,
        include_back_to_home_link: true,
    }, with_context = false) }}
    <div class="row">
    <div class="col-md-12">
     <a class="btn btn-primary" role="button" aria-pressed="true" href="{{ path('user_film_view', {'id': film.id}) }}" style="margin-top:10px">
            {{ 'Film View'|trans }}
        </a>

        {{ include('form/delete.html.twig', {
            url_del: 'user_film_delete',
            entity: film,
            button_del: 'Delete Film'|trans,
        }, with_context = false) }}
        </div>
    </div>
    
{% endblock %}

