{% extends 'main.html.twig' %}



{% block slidey %}

  <div id="slidey" style="display:none;">

        <ul>
            {% for film in films %}
            <li><a href="{{  path('user_film_edit', {'id':film.id})  }}"><img src="{{ asset( '/uploads/images/' ~ film.image ) }}" alt=" "><p class='title'>{{film.titre}}</p>
            </a>
            {% endfor %}
            
        </ul>       
    </div>
{%endblock slidey %}
{% block general %}
<div class="general_social_icons">
    <nav class="social">
        <ul>
            <li class="w3_twitter"><a href="#">Twitter <i class="fa fa-twitter"></i></a></li>
            <li class="w3_facebook"><a href="#">Facebook <i class="fa fa-facebook"></i></a></li>
            <li class="w3_dribbble"><a href="#">Dribbble <i class="fa fa-dribbble"></i></a></li>
            <li class="w3_g_plus"><a href="#">Google+ <i class="fa fa-google-plus"></i></a></li>                  
        </ul>
  </nav>
</div>
<!-- general -->
    <div class="general">
        <h4 class="latest-text w3_latest_text">Featured Movies</h4>
        <div class="container">
            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                <ul  class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">All Movies</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
                        <div class="w3_agile_featured_movies">
                        {% for film in films %}
                            <div class="col-md-2 w3l-movie-gride-agile">
                                <a href="{{  path('user_film_edit', {'id':film.id})  }}" class="hvr-shutter-out-horizontal">
          
                                    <img src="{{ asset( '/uploads/images/' ~ film.image ) }}" title="album-name" class="img-responsive"/>
                                    <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                                </a>
                                <div class="mid-1 agileits_w3layouts_mid_1_home">
                                    <div class="w3l-movie-text">
                                        <h6><a href="#">{{ film.titre }}</a></h6>                           
                                    </div>
                                    <div class="mid-2 agile_mid_2_home">
                                        <p>{{ film.annee|date("d/m/Y") }}</p>
                                        <div class="block-stars">
                                            <ul class="w3l-ratings">
                                                <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="ribben">
                                    <p>NEW</p>
                                </div>
                            </div>
                        {% endfor %}
                          
                            </div>
                                </div>
                </div>
            </div>
        </div>
    </div>
<!-- //general -->

{% endblock general %}
{% block banner %}
 <div class="banner-bottom">
        <div class="container">
            <div class="w3_agile_banner_bottom_grid">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    {% for film in films %}
                    <div class="item">
                        <div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
                            <a href="{{  path('user_film_edit', {'id':film.id})  }}" class="hvr-shutter-out-horizontal"><img src="{{ asset( '/uploads/images/' ~ film.image ) }}"  title="album-name" class="img-responsive" alt=" " />
                                <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                            </a>
                            <div class="mid-1 agileits_w3layouts_mid_1_home">
                                <div class="w3l-movie-text">
                                    <h6><a href="single.html">Citizen Soldier</a></h6>                          
                                </div>
                                <div class="mid-2 agile_mid_2_home">
                                    <p>{{ film.annee|date("Y") }}</p>
                                    <div class="block-stars">
                                        <ul class="w3l-ratings">
                                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="ribben">
                                <p>NEW</p>
                            </div>
                        </div>
                    </div> 
                    {% endfor%}                   
                </div>
            </div>          
        </div>
    </div>
{% endblock banner %}
