
{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-sm-12 col-md-12">

    <h2><center>{{ film.getTitre() }}</center></h2>
    
    <ul class="list-group">
        <li class="list-group-item">Genre: {{ film.getGenre() }}</li>
        <li class="list-group-item">Auteur : {{ film.getActeur }}</li>
        <li class="list-group-item">Realisateur : {{ film.getRealisateur() }}</li>

        <li class="list-group-item">Annee: {{ film.getAnnee() | date('F j, Y') }}</li>
    </ul>
        <a class="btn btn-success" href="{{path('user_film_index')}}">Back to List</a>

      </div> 
{% endblock %}