{% extends 'base_register.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {% block fos_user_content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}